@import '../brand.import';

setup-colour-system($customSettings = {}) {

	/*
   * Default settings:
   */
	$defaultSettings = {
		text: $brandBlack,
		bgBody: $brandWhite,
		link: $brandBlack,
		hover: $brandRed,
		visited: $brandBlack,
		selection: $brandRed,
		bgCode: #f7f7f7,
		colourHero: white
	}

	$settings = merge($defaultSettings, $customSettings);

  /*
   * Breakpoint setup:
   */
	body {
		color: $settings.text;
		background: $settings.bgBody;
	}

	::selection {
		background: $settings.selection;
		color: white;
		fill: white;
	}

	a {
  		color: $settings.link;
	}

	a:active,
	a:hover {
		color: $settings.hover;
	}

	a:visited {
		color: $settings.visited;
	}

	a:focus {
		outline: none;
		color: $settings.hover;
	}

	p code {
		background-color: $settings.bgCode;
	}

	pre {
		background-color: $settings.bgCode;
	}

	.content {
		background-color: $settings.bgCode;
	}

	.content__container,
	.content__container--expand {
		background-color: $settings.bgBody;
	}

  .informational {
    color: #bbb;
  }

	/* Images so assume white text is required */
	.hero {
		h1, h2, h3, h4, h5, p, code {
			color: $settings.colourHero;
		}
	}
}
