

.svg-center-x {
	position: relative;
  	display: block;
	margin-left: auto;
	margin-right: auto;
  	padding-left: 50%;
}

.svg-padding-top {
	padding-top: 1em;
}
.svg-padding-left {
	padding-left: 1em;
}

.reusable {
    path {
        fill: none;
        stroke: black;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    path.bgstroke {
        stroke: white;
        stroke-width: 3px;
    }
}

@import 'd3-legend.import'
