setup-inputs($customSettings = {}) {
	/*
   * Default settings:
   */
	$defaultSettings = {
		defaultFontSize: 1rem,
		colourDisabled: #f1f1f1,
		minHeight: 2.75em,
		paddingTop: 0.5em,
		paddingBottom: 0.5em,
		paddingLeft: 0,
		paddingRight: 0,
    borderColor: #d8d8d8
	}

	$settings = merge($defaultSettings, $customSettings);

	input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
		box-sizing: border-box;
    min-height: $settings.minHeight;
    padding-top: $settings.paddingTop;
    padding-bottom: $settings.paddingBottom;
		padding-left: $settings.paddingLeft;
		padding-right: $settings.paddingRight;
    color: #333;
    vertical-align: bottom;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid $settings.borderColor;
    // border-radius: 3px;
    outline: none;
    // box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
		font-size: $settings.defaultFontSize;

    &:disabled {
        background-image: pattern--core($settings.colourDisabled);
    }
  }
}
