@import '../brand.import'
@import '../lib/gradients.import'

setup-inputs($customSettings = {}) {
	/*
   * Default settings:
   */
	$defaultSettings = {
		colourDisabled: #f1f1f1,
    colourDanger: #ed1651,
    colourButton: $brandGrey,
    colourShadow: $brandRed
	}

	$settings = merge($defaultSettings, $customSettings);

  /*
   * Breakpoint setup:
   */
  button {
      border-radius: 3px;
      padding: 12px 31px;
      border: none;
      background-color: $settings.colourButton;

      &:focus {
          outline: none;
          box-shadow: 0 0 0 1px $settings.colourShadow;
      }

      &:hover {
          background-color: lighten($settings.colourButton, 30%);
      }

      &:disabled {
          background-image: pattern--core($settings.colourDisabled);
      }

      &:disabled:hover {
          background-color: $brandGrey;
          background-image: pattern--core($settings.colourDisabled);
      }
  }

  .hero button.danger,
  button.danger {
      color: white;
      background-color: $settings.colourDanger;

      &:hover {
          background-color: desaturate($settings.colourDanger, 20%);
      }

      &:disabled {
          background-image: pattern--core();
      }

      &:disabled:hover {
          background-color: $settings.colourDanger;
          background-image: pattern--core();
      }
  }

  .hero button {
      color: white;
      font-size: 1.2em;
      background-color: transparent;
      box-shadow: 0 0 0 1px white;

      &:focus {
          outline: none;
          box-shadow: 0 0 0 1px $settings.colourShadow;
      }

      &:hover {
          background-color: rgba(255,255,255,0.2);
      }

      &:disabled {
          background-image: pattern--core(rgba(255,255,255,0.3));
      }

      &:disabled:hover {
          background-color: transparent;
          background-image: pattern--core(rgba(255,255,255,0.3));
      }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
      min-height: 43px;
      padding: 7px 8px;
      color: #333;
      vertical-align: bottom;
      background-color: #fff;
      background-repeat: no-repeat;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

      &:disabled {
          background-image: pattern--core($settings.colourDisabled);
      }
  }
}
