/* Inspired by xkcd.com, Creative Commons Attribution-NonCommercial 2.5 License. xkcd@xkcd.com */

/* Humor Sans is best between 12 and 14pts. ¢ € ± ¬ £ are special */

@font-face {
    font-family: "xkcd";
    src: url('https://static.redsift.io/assets/fonts/Humor-Sans-1.0.ttf');
}

.xkcd {
    text, 
    p,
    h1, h2, h3, h4, code {
        font-family: "xkcd", sans-serif;
    }
    
    .panel {
        border: solid 1.5px #333;
        padding: 1em;
    }
    
    path {
        fill: none;
        stroke: black;
        stroke-width: 2.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    
    path.bgstroke {
        stroke: white;
        stroke-width: 5px;
    }    
}