/*
 * Configuration
 *
 * Central configuration for the 'ui-rs-core' module. Configuration variables are
 * set within the '$ui-rs-core' namespace and are avaiable in projects including
 * this module.
 */

@import './brand.import';

$ui-rs-core = {
	types: {},
	themes: {
		light: {},
		dark: {}
	},
	inputs: {},
	buttons: {}
};

/*
 * Default type setup
 */

 /* set variables in function to keep global namespace clean */

setFontConfig() {
	$fontNormal = 'Raleway', sans-serif
	$fontHeadings = 'Electrolize', sans-serif
	$fontCode = 'Source Code Pro', monospace

  /* NOTE: It's necessary to use e.g. the $fontNormal variable here. Defining
   * multiple fonts directly in here yields a stylus compiler error.
   */
	$fonts = {
     normal: $fontNormal,
     headings: $fontHeadings,
     code: $fontCode
	}

	$ui-rs-core.types.fonts = $fonts;
}
setFontConfig();

setTypeConfig() {
  $defaultFontSize = 1.25rem;
  $defaultButtonInputFontSize = 1rem;

  $ui-rs-core.types.settings = {
    mobilePortrait: {
      h1: { font-family: $fontHeadings, font-size:   2rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 200, text-transform: uppercase },
      h2: { font-family: $fontHeadings, font-size: 1.4rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
      h3: { font-family: $fontHeadings, font-size: 1.4rem, line-height: 1.5, margin-top:       0, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
      h4: { font-family: $fontHeadings, font-size:   1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 200, text-transform: uppercase, border-bottom: 1px solid #424242, text-align: center },
      p:  { font-family: $fontNormal,   font-size: $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
      a:  { font-family: $fontNormal,   font-size: $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
    },
    mobileLandscape: {
      h1: { font-family: $fontHeadings, font-size:   3.8rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 200, text-transform: uppercase },
      h2: { font-family: $fontHeadings, font-size: 2.375rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
      h3: { font-family: $fontHeadings, font-size: 1.875rem, line-height: 2.75rem, margin-top:  0, margin-bottom:  0.625rem, font-weight: 200, text-transform: uppercase },
      h4: { font-family: $fontHeadings, font-size:     1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 200, text-transform: uppercase, border-bottom: 1px solid #424242 }
      h5: { font-family: $fontHeadings, font-size:   0.9rem, line-height:   1, margin-top:  0.75em, margin-bottom:   0.75em, font-weight: 200, text-transform: uppercase },
      p:  { font-family: $fontNormal,   font-size:   $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
      a:  { font-family: $fontNormal,   font-size:   $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
    },
    fontCode: {
      padding: 0.2em,
      radius: 3px
    }
    defaultFontSize: $defaultFontSize,
    defaultButtonInputFontSize: $defaultButtonInputFontSize,
  }
}
setTypeConfig();

/*
 * Default color setup
 */

 /* set variables in function to keep global namespace clean */
setColorConfig() {
	/* export brand colors */
	$ui-rs-core.colors = {
		white: $brandWhite,
		black: $brandBlack,
		red: $brandRed,
		grey: $brandGrey
	}

	/* light theme: */
	$ui-rs-core.themes.light = {
		text: $brandBlack,
		bgBody: $brandWhite,
		link: $brandBlack,
		hover: $brandRed,
		visited: $brandBlack,
		selection: $brandRed,
		bgCode: #f7f7f7,
		colourHero: white
	}

	/* dark theme: */
	$ui-rs-core.themes.dark = {
		text: $brandWhite,
		bgBody: $brandBlack,
		link: $brandWhite,
		hover: $brandRed,
		visited: $brandWhite,
		selection: $brandRed,
		bgCode: #373737,
		colourHero: white
	}
}
setColorConfig();

/*
 * Default input field setup
 */

setInputConfig() {
	$ui-rs-core.inputs = {
		defaultFontSize: $ui-rs-core.types.settings.defaultButtonInputFontSize,
		minHeight: 2.6875em,
		paddingTop: 0.4375em,
		paddingBottom: 0.4375em,
		paddingLeft: 0.5em,
		paddingRight: 0.5em
	}
}
setInputConfig();

/*
 * Default button setup
 */

setButtonConfig() {
	$ui-rs-core.buttons.light = {
		defaultFontSize: $ui-rs-core.types.settings.defaultButtonInputFontSize,
		colourDefault: $ui-rs-core.themes.light.text
		colourDisabled: #f1f1f1,
    colourDanger: #ed1651,
    colourButton: $brandGrey,
    colourShadow: $brandRed,
		paddingLeft: 1.9375em,
		paddingRight: 1.9375em,
		paddingTop: 0.75em,
		paddingBottom: 0.75em
	}

	$ui-rs-core.buttons.dark = {
		defaultFontSize: $ui-rs-core.types.settings.defaultButtonInputFontSize,
		colourDefault: $ui-rs-core.themes.light.text
		colourDisabled: #f1f1f1,
    colourDanger: #ed1651,
    colourButton: $brandGrey,
    colourShadow: $brandRed,
		paddingLeft: 1.9375em,
		paddingRight: 1.9375em,
		paddingTop: 0.75em,
		paddingBottom: 0.75em
	}
}
setButtonConfig();
