.-rs-icon-github {
  background-image: url('https://static.redsift.io/assets/redsift-web/images/icon-github.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.-rs-icon-google {
  background-image: url('https://static.redsift.io/assets/redsift-web/images/icon-google.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.-rs-icon-slack {
  background-image: url('https://static.redsift.io/assets/redsift-web/images/icon-slack.png');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}
