$patterns__down-arrow-green-height = 7px
$patterns__down-arrow-green-width = 12px
$patterns__redsift-logo-height = 7px
$patterns__redsift-logo-width = 7px

.-pattern-down-arrow-green {
  background-image: url("/icons/down-arrow-green.svg");
  background-repeat: repeat;
  background-size: $patterns__down-arrow-green-width $patterns__down-arrow-green-height;
}

.-pattern-redsift-logo {
  background-image: url("/icons/redsift-logo-red-8.1.svg");
  background-repeat: repeat;
  background-size: $patterns__redsift-logo-width $patterns__redsift-logo-height;
}
