/*
 * Disable selection/copy of UIWebView to improve navigation
 *
 * NOTE: MH, 2016-08-22: This style is not set anymore as part of ui-rs-core. To enable it (e.g. on mobile) use the
 * provided Javascript function 'RedsiftCore.cssDisableSelection()''.
 *
 * Code is kept here for reference.
*/

disable-selection() {
	* {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}
