@import '../lib/type.import'

setup-types($customFonts = {}, $customSettings = {}) {

  /*
   * Default settings:
   */
  $fontNormal = 'Raleway', sans-serif
  $fontHeadings = 'Electrolize', sans-serif
  $fontCode = 'Source Code Pro', monospace

  /* NOTE: It's necessary to use e.g. the $fontNormal variable here. Defining
   * multiple fonts directly in here yields a stylus compiler error.
   */
  $defaultFonts = {
    normal: $fontNormal,
    headings: $fontHeadings,
    code: $fontCode
  };

  $defaultFontSize = 1em;

  $defaultSettings = {
  	mobilePortrait: {
  	  h1: { font-family: $defaultFonts.headings, font-size:   2rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 200, text-transform: uppercase },
  	  h2: { font-family: $defaultFonts.headings, font-size: 1.4rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
  	  h3: { font-family: $defaultFonts.headings, font-size: 1.4rem, line-height: 1.5, margin-top:       0, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
  	  h4: { font-family: $defaultFonts.headings, font-size:   1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 200, text-transform: uppercase, border-bottom: 1px solid #424242, text-align: center },
  	  p:  { font-family: $defaultFonts.normal,   font-size: $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
  	  a:  { font-family: $defaultFonts.normal,   font-size: $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
  	},
  	tablet: {
  	  h1: { font-family: $defaultFonts.headings, font-size:   3.8rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 200, text-transform: uppercase },
  	  h2: { font-family: $defaultFonts.headings, font-size: 2.375rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 200, text-transform: uppercase },
  	  h3: { font-family: $defaultFonts.headings, font-size: 1.875rem, line-height: 2.75rem, margin-top:  0, margin-bottom:  0.625rem, font-weight: 200, text-transform: uppercase },
  	  h4: { font-family: $defaultFonts.headings, font-size:     1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 200, text-transform: uppercase, border-bottom: 1px solid #424242 }
  	  h5: { font-family: $defaultFonts.headings, font-size:   0.9rem, line-height:   1, margin-top:  0.75em, margin-bottom:   0.75em, font-weight: 200, text-transform: uppercase },
  	  p:  { font-family: $defaultFonts.normal,   font-size:   $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
  	  a:  { font-family: $defaultFonts.normal,   font-size:   $defaultFontSize, line-height: 1.875rem, font-weight: 200 }
  	},
    fontCode: {
      padding: 0.2em,
      radius: 3px
    }
    defaultFontSize: $defaultFontSize
  };

  $fonts = merge($defaultFonts, $customFonts);
  $settings = merge($defaultSettings, $customSettings);

  /*
   * Breakpoint setup:
   */
  body {
    font-family: $fonts.normal;
    font-size: $settings.defaultFontSize;
    font-weight: 300;
  }

  button {
    font-family: $fonts.headings;
    font-weight: 400;
  }

  .overlayed {
  	font-weight: 400;
  }

  create-type-code($fonts.code, $settings.fontCode);

  create-types($settings.mobilePortrait);

  // +above('mobile-landscape') {
  //  create-types($settings.mobileLandscape);
  // }

  +above('tablet') {
   create-types($settings.tablet);
  }
}
