@import '../lib/type.import'

setup-types($customFonts = {}, $customSettings = {}) {

  /*
   * Default settings:
   */
  $fontNormal = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
  $fontHeadings = 'Electrolize', sans-serif
  $fontCode = 'Source Code Pro', monospace

  /* NOTE: It's necessary to use e.g. the $fontNormal variable here. Defining
   * multiple fonts directly in here yields a stylus compiler error.
   */
  $defaultFonts = {
    normal: $fontNormal,
    headings: $fontHeadings,
    code: $fontCode
  };

  $defaultSettings = {
  	mobilePortrait: {
  	  h1: { font-family: $defaultFonts.headings, font-size:   3rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 300, text-transform: uppercase },
  	  h2: { font-family: $defaultFonts.headings, font-size: 1.4rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 300, text-transform: uppercase },
  	  h3: { font-family: $defaultFonts.headings, font-size: 1.4rem, line-height: 1.5, margin-top:       0, margin-bottom: 0.625rem, font-weight: 300, text-transform: uppercase },
  	  h4: { font-family: $defaultFonts.headings, font-size:   1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 300, text-transform: uppercase, border-bottom: 1px solid #424242, text-align: center },
  	},
  	mobileLandscape: {
  	  h1: { font-family: $defaultFonts.headings, font-size: 3.8rem, line-height: 1.2, margin-top:   0.1em, margin-bottom:    0.1em, font-weight: 300, text-transform: uppercase },
  	  h2: { font-family: $defaultFonts.headings, font-size:   2rem, line-height: 1.5, margin-top: 1.25rem, margin-bottom: 0.625rem, font-weight: 300, text-transform: uppercase },
  	  h3: { font-family: $defaultFonts.headings, font-size: 1.6rem, line-height: 1.5, margin-top:       0, margin-bottom:  0.625em, font-weight: 300, text-transform: uppercase },
  	  h4: { font-family: $defaultFonts.headings, font-size:   1rem, line-height: 1.5, margin-top:   0.7em, margin-bottom:    0.7em, font-weight: 300, text-transform: uppercase, border-bottom: 1px solid #424242 }
  	  h5: { font-family: $defaultFonts.headings, font-size: 0.9rem, line-height:   1, margin-top:  0.75em, margin-bottom:   0.75em, font-weight: 300, text-transform: uppercase },
  	},
    fontCode: {
      padding: 0.2em,
      radius: 3px
    }
  };

  $fonts = merge($defaultFonts, $customFonts);
  $settings = merge($defaultSettings, $customSettings);


  /*
   * Breakpoint setup:
   */
  body {
    color: $brandBlack; /* FIXXME: set via color system! */
    font-family: $fonts.normal;
    font-weight: 300;
  }

  body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }

  button {
      font-family: $fonts.headings;
      font-weight: 400;
  }

  .overlayed {
  	font-weight: 400;
  }

  create-type-code($fonts.code, $settings.fontCode);

  create-types($settings.mobilePortrait);

  +above('mobile-landscape') {
   create-types($settings.mobileLandscape);
  }
}
