/*
 * Style setup for ui-rs-core's dark theme.
 */

@import './index.import.styl'

setup-color-system($ui-rs-core.themes.dark)
setup-buttons($ui-rs-core.buttons.dark)
setup-sliders($ui-rs-core.sliders.dark)
