/*
 * Style setup for ui-rs-core's dark theme.
 */

@import './index.import.styl'

setup-color-system($ui-rs-core.themes.dark)
setup-buttons($ui-rs-core.buttons.dark)
setup-default-danger-button()
setup-default-icon-button($ui-rs-core.iconButtons.dark.style, $ui-rs-core.buttons.dark.black);
setup-sliders($ui-rs-core.sliders.dark)
